<h1>社員一覧</h1>
<% if current_user.admin? && current_organization?(@organization) %>
<%= link_to "新規社員登録" , new_organization_user_path %>
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>